$border-color: #ccc;
$laptop: 768px;
$desktop: 1200px;

.results {
  display: flex;
  margin: 0;
  padding: 0;
  max-width: 100%;
  flex-flow: row wrap;
  justify-content: space-around;
}

.results__item {
  margin-bottom: 15px;
  border: 1px solid $border-color;
  padding: 15px;
  width: 100%;
  list-style: none;
  box-sizing: border-box;

  @media screen and (min-width: $laptop) {
    width: 48%;
  }
  @media screen and (min-width: $desktop) {
    width: 32%;
  }
}

.results__title {
  margin-top: 0;
}

.results__info {
  text-align: left;
}
