$bg: #eee;

* {
  box-sizing: border-box;
}

body {
  background-color: $bg;
  padding: 20px;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.title {
  margin-top: 0;
}