{
  "extends": "airbnb",
  "plugins": [
    "babel"
  ],
  "rules": {
    "no-underscore-dangle": 0,
    "react/require-extension": "off",
    "react/forbid-prop-types": [1, { "forbid": ["any", "array"] }]
  },
  "ecmaFeatures": {
    "modules": true
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true
  }
}
