{
  "extends": "airbnb",
  "globals": {
      "document": true,
      "window": true
  },
  "parser": "babel-eslint",
  "plugins": [
      "react"
  ],
  "rules": {
      "jsx-a11y/anchor-is-valid": 0,
      "jsx-quotes": [
          "error",
          "prefer-single"
      ],
      "no-console": 0,
      "react/destructuring-assignment": 0,
      "react/jsx-one-expression-per-line": 0,
      "react/sort-prop-types": 2,
      "react/prefer-stateless-function": 0,
      "prefer-destructuring": 0,
      "padded-blocks": 0
  }
}
