$border-color: #ccc;

.search__input {
  margin: 20px auto 40px;
  border: 1px solid $border-color;
  border-radius: 5px;
  padding: 20px;
  width: 100%;
  font-size: 16px;

  &:focus {
    outline: none;
  }
}
